.progress-row{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #efefef;
	padding: 10px 15px;
	transition: all .2s;
}

.progress-row:hover {
	background-color: #efefef;
}

.progress-row div {
	display: inline-block;
	text-align: left;
	margin-right: 30px;
	width: 27%;
	text-overflow: ellipsis;
	vertical-align: text-top;
}

.progress-title {
	font-weight: 600;
	font-size: 1.1em;
}


.hide-assign, .hide-stu {
	height:0;
	opacity:0;
	overflow: hidden;
	display: none;
}

.progress-student, .progress-assignment {
	cursor: pointer;
}